// constants:
@color-dark:   #19171a;
@color-middle: #444444;
@color-light:  #a5a5a5;

// mixins:
.linear-gradient-back(@alpha) {
  background: linear-gradient(to bottom, rgba(255,255,255,@alpha) 0%, rgba(255,255,255,@alpha) 100%), url(copy.png) repeat 0 0;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: @color-dark;
  color: @color-light;
  font-size: 12px;
}

#content {
  padding: 0 10px 0 10px;
  height: 350px;
  position: relative;
}

.content div {
  background-color: @color-dark;
}

.hideable {
  overflow: auto;
}

.heading-div {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 2px;
  &:hover {
    border-color: @color-light;
    cursor: pointer;
  }

  .title-div {
    position: relative;
    z-index: 1;
    margin-top: 2px;
    h1 {
      font-size: 20px;
      background-color: fade(@color-dark, 70%); 
      display:inline; 
      padding: 0 10px 0 10px;
    }
  }

  .hr {
    position: absolute;
    width: 100%;
    top: 9px;
    hr {
      width: 98%;
    }
  }

}

#password-input {
  width: 160px;
}
.checkbox {
  font-size: 11px;
}
.key {
  width: 65px;
  float: left;
}
.center {
  margin: 0 auto;
  width: 180px;
  text-align: center;
}
.inpt {
  width: 120px;
  text-decoration: none;
  border-radius: 0px;
  border: 0;
  padding-left: 5px;
}
fieldset {
  border-style: solid;
  border-color: @color-light;
  font-size: 10px;
  padding-top: 6px; /*ugly way to center image with text*/
}

#site-input-img {
  position: absolute; 
  right: 16px; 
  top: 1px; 
  cursor: pointer;
  opacity: 0.7;

  img {
    width: 14px;
    height: 14px;
  }

  &:hover {
    opacity: 1;
  }
}

#copy-button {
  background: url(copy.png) repeat;
  width: 16px;
  height: 16px;
  margin: -2px 5px 0 0;
  float: right;
  padding: 0 0 0 16px; /*TODO: better fix for no outline*/
  border: none;
  cursor: pointer;
  &:hover {
    .linear-gradient-back(0.2);
  }
  &:active {
    .linear-gradient-back(0.3);
  }
}

#help-alert {
  color: @color-light;
  &:hover {
    cursor: help;
  }
}

.border-active {
  border: 2px solid @color-dark;
}
.border-inactive {
  border: 2px solid @color-light;
}

#footer {
  color: @color-dark;
  height: 35px;
  position: relative;
  padding-top: 15px;
  text-align: center;
  background: linear-gradient(0deg, @color-light, @color-light 75%, @color-dark 95%);
  
  img {
    margin: 0 6px 0 6px;
    width: 26px;
    height: 26px;
    vertical-align:middle;

    &:hover {
      cursor: pointer;
      border: 2px solid @color-middle;
      border-radius: 2px;
    }
  }
}

#content-error-p {
  font-size: 10px;
  margin-top: -10px;
}

#gen-pass {
  font-family: monospace;
}

.tooltipsy {
  padding: 3px;
  color: @color-light;
  background-color: @color-dark;
  border: 1px solid @color-light;
  border-radius: 2px;
}
